.calendar-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.calendar-header button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.calendar-header button:hover {
  background: #0056b3;
}

.day-names,
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-name {
  text-align: center;
  font-weight: bold;
  color: #555;
  padding: 5px 0;
}

.day {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px;
  height: 120px; 
  background: white;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.day:hover {
  background-color: #f5f5f5;
}

.day.today {
  background: #e6f0ff;
  border: 2px solid #007bff;
}

.day.has-event {
  background-color: #fff3e0;
  border: 2px solid orange;
}

.day.empty {
  background: #f9f9f9;
}

.day .event-list {
  flex: 1;
  overflow-y: auto;
  margin-top: 4px;
  padding-right: 2px;
}

.day .event-list::-webkit-scrollbar {
  width: 5px;
}
.day .event-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.event-item {
  background: orange;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  padding: 2px 6px;
  margin-top: 4px;
}

.delete-btn:hover {
  background: #cc0000;
}


.event-form {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.event-form input {
  padding: 6px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-form button {
  padding: 6px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.event-form button:hover {
  background: #0056b3;
}

.event-item.conflict {
  background: #ff9999 !important;
  border: 2px solid red;
}
