.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  background: #f8f9fa;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.sidebar li strong {
  color: #333;
}

.sidebar li small {
  color: gray;
  font-size: 12px;
}
.delete-btn {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

.delete-btn:hover {
  color: darkred;
}
